**/.terraform**
**/.terraform.**
**/.terragrunt

# Terraform state and lock files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate**


# Terraform variables
*.tfvars
*.tfvars.json

# Kubernetes Secrets
*secret.yaml
*secrets.yaml
